<ion-view view-title="MAMI">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content" style="background-color:white">



      <div class="searchInput" align="center" style="margin-top:20px;" >
      		 <div class="searchInputDiv">
					<div style="direction:rtl;">   
                        <div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="text"   placeholder="{{'login_email' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="login.email">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>
                        <div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="password"   placeholder="{{'login_password' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="login.password">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div> 
                    </div>
					
					<div ng-click="FaceBookLoginBtn(0)">
						<img src="img/facebook.png" style="width:100%;">
					</div>
                    <div style="margin-top:10px;" ng-click="loginBtn()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
      				</div>

					
					<div>
						<a href="#/app/forgotLogin">{{'supplierlogin_forgotpasstext' | translate}}</a>
					</div>
					
					
             </div>
      </div>	

	  

			


	
  </ion-content>
</ion-view>
