<ion-view view-title="MAMI">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content" style="background-color:white">


      <div class="searchInput" align="center" >
      		 <div class="searchInputDiv">
					<div style="direction:rtl;">   
                    	<div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="text"   placeholder="{{'register_fullname' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="login.name">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>
                    	<div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="tel"   placeholder="{{'register_phone' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="login.phone">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>	
						
						
                    	<div class="qDiv">
									 <label class="item item-input item-select itemSelectedQ">
										<div class="input-label itemSelectedLabelQ">
										  {{'register_area' | translate}}
										</div>
										<select class="ion-input-select--large itemSelectedBoxQ" ng-model="login.area">
										   <option value="1">{{'register_haifa' | translate}}</option>
											<option value="2" >{{'register_beersheva' | translate}}</option>
											<option value="3" >{{'register_shefela' | translate}}</option>
											<option value="4" >{{'register_sharon' | translate}}</option>
											<option value="5" >{{'register_telaviv' | translate}} </option>
											<option value="6" >{{'register_jeruslem' | translate}}</option>	
										</select>	
									 </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>	

						
                        <div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="text"   placeholder="{{'register_email' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="login.email">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>
                        <div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="password"   placeholder="{{'register_password' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="login.password">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>	

						<div style="font-size:15px; padding-bottom:10px;">
							<i class="ion-android-checkbox-outline-blank" ng-show="!login.terms" style="font-size:30px;" ng-click="agreeTerms(true)"></i>
							<i class="ion-android-checkbox-outline" ng-show="login.terms" style="font-size:30px;" ng-click="agreeTerms(false)"></i>						
							<span>{{'pleaseagreectrl' | translate}}</span>
							<span ng-click="openTerms()"><a href="">{{'termsofusectrl' | translate}} </a></span>
						</div>
						


						
                    </div>
					<div ng-click="FaceBookLoginBtn(1)">
						<img src="img/facebook.png" style="width:100%;">
					</div>
					
                    <div style="margin-top:30px;" ng-click="registerBtn()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
      				</div>	
					<!--
                    <div style="margin-top:10px;" ng-click="closeRegister()">
      					<img src="img/close.jpg"  style="width:100%;" />
      				</div>	
					-->
					
					
             </div>
      </div>	

			


	
  </ion-content>
</ion-view>
