<ion-modal-view >

  <ion-header-bar style="background-color:#DC5353;">
  	<div  align="center" style="width:100%;">
        <img  src="img/head_logo.png" class="title-image" style="float:left; text-align:center; margin-left:115px; margin-top:3px;">
    </div>
  </ion-header-bar>
    <ion-content class="content222">

      <div class="searchInput" align="center" >
      		 <div class="searchInputDiv">
					<div style="direction:rtl;">   
                    	<div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="text"   placeholder="שם מלא" class="ion-input-select--large itemSelectedBoxQ" ng-model="login.name">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>
                        <div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="text"   placeholder="כתובת מייל" class="ion-input-select--large itemSelectedBoxQ" ng-model="login.email">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>
                        <div class="qDiv">
                                     <label class="item item-input  itemSelectedQ" >
                                        <input type="text"   placeholder="סיסמה" class="ion-input-select--large itemSelectedBoxQ" ng-model="login.password">
                                     </label>
                                     <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                        </div>		 
                    </div>
					<div ng-click="FaceBookLoginBtn(1)">
						<img src="img/facebook.png" style="width:100%;">
					</div>
					
                    <div style="margin-top:30px;" ng-click="registerBtn()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
      				</div>	
                    <div style="margin-top:10px;" ng-click="closeRegister()">
      					<img src="img/{{'closeimage' | translate}}"  style="width:100%;" />
      				</div>	
					
					
             </div>
      </div>	

	
  </ion-content>
</ion-modal-view>
