<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content22">
        <div class="mainPageVideo" align="center">
		
  			<div class="tabsDiv">
            	<div ng-class="{'tabsActive': AppType == 0 , 'tabsNotActive': AppType == 1 }" ng-click="changeType(0)">
                	{{'addappoint_activetime' | translate}}
                </div>
                <div  ng-class="{'tabsActive': AppType == 1 , 'tabsNotActive': AppType == 0 }"  ng-click="changeType(1)">
                	{{'addappoint_newapp' | translate}}
                </div>
            </div>

			
			<div class="list">
            	<div class="searchInput" align="center" >
                     <div class="searchInputDiv">
            			<div style="direction:rtl;">   

						   
                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;" ng-if="AppType == 1">
                              <div class="input-label" >
                                {{'addappoint_fullname' | translate}}
                              </div>
                              <input type="text"    placeholder="{{'addappoint_fullname' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="appoinmenet.name">
                           </label>

                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;" ng-if="AppType == 1">
                              <div class="input-label" >
                                {{'addappoint_phone' | translate}}
                              </div>
                              <input type="tel"    placeholder="{{'addappoint_phone' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="appoinmenet.phone">
                           </label>

                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;" ng-if="AppType == 1">
                              <div class="input-label" >
                                {{'addappoint_email' | translate}}
                              </div>
                              <input type="text"    placeholder="{{'addappoint_email' | translate}}" class="ion-input-select--large itemSelectedBoxQ" ng-model="appoinmenet.mail">
                           </label>

                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;" ng-if="AppType == 1">
                              <!--
							  <div class="input-label" >
                                {{'addappoint_desc' | translate}}
                              </div>
							  -->
								<textarea placeholder="{{'addappoint_desc' | translate}}" rows="4" cols="50" ng-model="appoinmenet.desc" class="ion-input-select--large itemSelectedBoxQ" ></textarea>
                           </label>	

                           <label class="item item-input  itemSelectedQ" style="margin-top:8px;">
                              <div class="input-label" >
                                {{'addappoint_date' | translate}}
                              </div>
                              <input type="text"   onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="" class="ion-input-select--large itemSelectedBoxQ" ng-model="appoinmenet.date" />
                           </label>
                           
                       
						   <label class="item item-input item-select itemSelectedQ" style="margin-top:10px;" ng-if="AppType == 1">
                            <div class="input-label itemSelectedLabelQ">
                              {{'addappoint_subcat' | translate}}
                            </div>
                            <select class="ion-input-select--large itemSelectedBoxQ" ng-model="cat.current">
								<option value="-1" selected>{{'search_cat' | translate}}</option> 
                                <option value="{{item.catId}}"  ng-repeat="item in Catgeories" >{{item.catName}}</option>
                            </select>
                         </label>
                         <label class="item item-input item-select itemSelectedQ" ng-if="cat.subcat >= 0 && AppType == 1" style="margin-top:10px;">
                            <div class="input-label itemSelectedLabelQ">
                              {{'addappoint_subcat' | translate}}
                            </div>
                            <select class="ion-input-select--large itemSelectedBoxQ" ng-model="cat.subcat">
								<!--<option value="-1" selected>בחרי תת קטגוריה</option> -->
                                <option ng-selected="{{cat.subcat == item.id}}" value="{{item.id}}"  ng-repeat="item in SubCat" >{{item.name}}</option>
                            </select>
                         </label>
						   
                          <!-- <img src="img/textline.png" style="width:100%; margin-top:-25px; " />-->
						   
							 <label class="item item-input itemSelectedQ" style="margin-top:11px;" ng-click="pickTime(1)">
                              <div class="input-label" >
								{{appoinmenet.hourstart}}
                              </div>
								<div   style="height:35px; text-align:center !important; width:100%;" class="itemSelectedBox2"  >
									<div style="text-align:center !important; width:100%; ">{{appoinmenet.hourstart}}</div>
								</div>
								
							 </label>
						   

                          <!-- <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />-->
                           
							 <label class="item item-input itemSelectedQ" style="margin-top:8px;" ng-click="pickTime(2)" ng-if="AppType == 0">
                              <div class="input-label" >
								{{appoinmenet.hourend}}
                              </div>
								<div   style="height:35px; text-align:center !important; width:100%;" class="itemSelectedBox2"  >
									<div style="text-align:center !important; width:100%; ">{{appoinmenet.hourend}}</div>
								</div>
								
							 </label>
						   


						   
						   
                           <img src="img/textline.png" style="width:100%; top:-5px; position:relative;" />
                       </div>          
                      <div style="margin-top:10px;" ng-click="addAppoinment()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
                      </div>	

                  </div>
              </div>	
            </div>			
       </div>
	</ion-content>
</ion-view>
