<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content1">

  			<div class="tabsDiv">
            	<div ng-class="{'tabsActive33': ActiveTab == 0 , 'tabsNotActive33': ActiveTab != 0 }" ng-click="setActiveTab(0)">
                	{{'orderedappoinment_day' | translate}}
                </div>
                <div  ng-class="{'tabsActive33': ActiveTab == 1 , 'tabsNotActive33': ActiveTab !=  1 }"  ng-click="setActiveTab(1)">
                	{{'orderedappoinment_week' | translate}}
                </div>
                <div  ng-class="{'tabsActive33': ActiveTab == 2 , 'tabsNotActive33': ActiveTab != 2 }"  ng-click="setActiveTab(2)">
                	{{'orderedappoinment_search' | translate}}
                </div>
            </div>

			
		<div ng-if="ActiveTab == 2">
		 <label class="item item-input item-select itemSelected" style="margin-top:8px;">
			<div class="input-label" style="color:#fff;">
			  {{'orderedappoinment_startdate' | translate}}
			</div>
			<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'orderedappoinment_startdate' | translate}}" class="ion-input-select--large itemSelectedBox" ng-model="search.start">
		 </label>
		 <label class="item item-input item-select itemSelected" style="margin-top:8px;">
			<div class="input-label" style="color:#fff;">
			  {{'orderedappoinment_enddate' | translate}}
			</div>
			<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'orderedappoinment_enddate' | translate}}" class="ion-input-select--large itemSelectedBox" ng-model="search.end">
		 </label>	
			<div style="margin-top:20px;" ng-click="searchDate()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
			</div>
		</div>
		
		
		
		<div ng-if="AppoinmentCount ==  0" align="center">
			<p>{{'orderedappoinment_nomatches' | translate}}</p>
		</div>
		
	    <!--
		<div ng-if="oldAppoinment ==  0 && ActiveTab == 1" align="center">
			<p>לא נמצאו תורים ישנים</p>
		</div>
		
		<div ng-if="newAppoinment ==  0 && ActiveTab == 0" align="center">
			<p>לא נמצאו תורים חדשים</p>
		</div>
		-->
		
        <div class="mainPageVideo" align="center">
            <div class="list" style=" margin-top:20px">
			<!--
			| filter:searchByDate" ng-show="item.future == ActiveTab
			-->
                <div class="item item" ng-repeat="item in orderedappoinements " style="text-align:right; border:none!important; margin-top:-25px">
                  <div style="overflow:hidden; width:100%;">
                    <div style="float:right;" >
					<p>{{item.appoinement[0].start_date}}</p>
                      <div style="direction:rtl;">{{'orderedappoinment_fullname' | translate}} : {{item.name}}</div>
                      <div style="direction:rtl;">{{'orderedappoinment_email' | translate}} : {{item.email}}</div>
                      <h2 style="direction:rtl;">{{'orderedappoinment_date' | translate}} : {{item.start_date}}</h2>
                      <p style="direction:rtl;">{{'orderedappoinment_starthour' | translate}} : {{item.start_time}}</p>
                      <p style="direction:rtl;">{{'orderedappoinment_endhour' | translate}} : {{item.end_time}}</p>
                    </div>
                    <div style="float:left;" ng-click="deleteAppiont($index,item.index)" align="left">
                        <img src="img/del_icon.png" style="width:40%; margin-top:30px;"  />
                    </div>
                  </div>
                  <div style="position:relative; width:110%; left:-5%">
                        <img src="img/line.png" style="width:100%; margin-top:0px;"  />
                   </div>
                </div>
            </div>			
		</div>
        
       





	  

			


	
  </ion-content>
</ion-view>
