<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    <ion-content class="content12">
	

		

		
        <div class="mainPageVideo" align="center" style="width:100%">
        	<div style="width:100%; overflow:hidden">
                <div ui-sref="app.addappoint()" style="width:80%; float:right; margin-right:6px;">
                        <img src="img/{{'addtorimagepng' | translate}}" style="width:100%; margin-top:10px; "  />
                </div>
                <button class="button icon ion-search" ng-click="pickDate()" style="width:15%; margin-left:6px; margin-top:7px; float:left"></button>
            </div>
			
            <div>
                  <ion-scroll direction="x" class="wide-as-needed" delegate-handle="daysScroll">
                    <a ng-click="setCurrentDay($index)" class="button inline-button daysButton" ng-repeat="item in Days"> {{item.day}}</a>
                  </ion-scroll>
                  {{CurrentDayText}}
                   <!-- Day Status -->
                  <div id="dayStatus" align="center" >
                    <p>{{CurrentDayText}}</p>
                  </div>
			</div>
         
		<!--<div style="margin-top:-20px;">
        	<img src="img/days.jpg" style="width:100%" />
        </div>-->
		<div ng-if="ActiveTab == 2">
		 <label class="item item-input item-select itemSelected" style="margin-top:8px;">
			<div class="input-label" style="color:#fff;">
			  {{'supplierappoint_startdate' | translate}}
			</div>
			<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'supplierappoint_startdate' | translate}}" class="ion-input-select--large itemSelectedBox" ng-model="search.start">
		 </label>
		 <label class="item item-input item-select itemSelected" style="margin-top:8px;">
			<div class="input-label" style="color:#fff;">
			  {{'supplierappoint_enddate' | translate}}
			</div>
			<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'supplierappoint_enddate' | translate}}" class="ion-input-select--large itemSelectedBox" ng-model="search.end">
		 </label>	
			<div style="margin-top:20px;" ng-click="searchDate()">
                      	<img src="img/{{'sendbuttonimage' | translate}}"  style="width:100%;" />
			</div>
		</div>

		
		<div ng-if="AppoinmentCount ==  0" align="center">
			<p>{{'supplierappoint_nomatches' | translate}}</p>
		</div>

		
		<!--
		<div ng-if="oldAppoinment ==  0 && ActiveTab == 1" align="center">
			<p>לא נמצאו תורים ישנים</p>
		</div>
		
		<div ng-if="newAppoinment ==  0 && ActiveTab == 0" align="center">
			<p>לא נמצאו תורים חדשים</p>
		</div>
	    -->
			
			
            <div class="list" style=" margin-top:0px">
			<!--
			| filter:searchByDate" ng-show="item.future == ActiveTab
			-->
                <div class="item item" ng-show="daysSearch"  ng-repeat="item in appoinements | filter: myFilter " style="border:none !important; width:100%; o overflow:hidden; " ng-class="item.booked == 1 ? 'itemBooked' : 'itemNotBooked'">
                 
                       <div style="float:right;  margin-top:-10px; ">
                       	  <div id="torTime" >{{item.start_time}}-{{item.end_time}}</div>
                          <p id="torDate" >{{item.start_date}}</p>
                          <p id="torName" ng-if="item.name">{{item.name}} | {{item.subcatName[0].name}}</p>
                       </div>
					   <div  style="float:left;  margin-left:-10px;" ng-click="deleteAppiont($index,item.index,item.booked)">
                         <img src="img/deleteDeal1.png" style="width:60%; margin-top:10px;"  />
                       </div>
                       
                      <!-- <div ng-if="item.booked == 1" style="float:left;" ng-click="editAppoint($index,item.index)">
                         <img src="img/editDeal1.png" style="width:60%; margin-top:10px;"  />
                       </div>-->
                      
                       <div ng-if="item.booked == 0" style="float:left;" ng-click="editFreeApp($index,item.index)">
                         <img src="img/editDeal1.png" style="width:60%; margin-top:10px;"  />
                       </div>
                </div>
				
				
                <div class="item item"  ng-show="showSearch" ng-repeat="item in searchArray " style="border:none !important; width:100%; o overflow:hidden; " ng-class="item.booked == 1 ? 'itemBooked' : 'itemNotBooked'">
                 
                       <div style="float:right;  margin-top:-10px; ">
                       	  <div id="torTime" >{{item.start_time}}-{{item.end_time}}</div>
                          <p id="torDate" >{{item.start_date}}</p>
                          <p id="torName" ng-if="item.name">{{item.name}}</p>
                       </div>
					   <!--
                       <div ng-if="item.booked == 1" style="float:left;" ng-click="editAppoint($index,item.index)">
                         <img src="img/editDeal1.png" style="width:60%; margin-top:10px;"  />
                       </div>
					   -->
                      
                       <div ng-if="item.booked == 0" style="float:left;" ng-click="editFreeApp($index,item.index)">
                         <img src="img/editDeal1.png" style="width:60%; margin-top:10px;"  />
                       </div>
                       <div style="float:left;  margin-left:-10px;" ng-click="deleteAppiont($index,item.index,item.booked)">
                         <img src="img/deleteDeal1.png" style="width:60%; margin-top:10px;"  />
                       </div>
                
                 <!-- <div style="position:relative; width:110%; left:-5%">
                   	<img src="img/line.png" style="width:100%; margin-top:0px;"  />
                  </div>-->
                </div>


				
            </div>			
		</div>
    </ion-content>
</ion-view>
